.team-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.team-name {
  margin-top: 60px;
  font-size: 30px;
  position: relative;
}

.team-image {
  position: relative;
  width: 70%;
  height: 100vh;
  display: block;
  margin-left: auto;
}

.team-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../media/Imagenes/teams/all_blacks_players.jpg");
  background-size: cover;
}

.description-container {
  background-image: url("../media/Imagenes/tradition/jersey-bg.jpg");
  background-size: cover;
  min-height: 300px;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  margin-top: 20px;
}

.description-container .text {
  bottom: 50px;
  background: transparent;
  line-height: 1.9;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 390px);
  padding-top: 60px;
}
