.history {
  margin-left: 3%;
}

.history,
.player-stats {
  width: min(500px, 100% - 3rem);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.player-stats {
  margin-right: 3%;
  margin-left: 3%;
}

table {
  line-height: 1.5;
  font-size: 1.125rem;
  overflow-x: auto;
  margin-top: 30px;
  border-radius: 0.3rem;
  border-collapse: collapse;
  background: #323232;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 1rem;
  background: #323232;
}

th,
tr {
  text-align: center;
}

th {
  background: hsl(0 0% 50% / 0.5);
}

.history .title,
.player-stats .title {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 60px;
  background: transparent;
}

.statdistics-container {
  display: flex;
  justify-content: space-between;
}
