@font-face {
  font-family: "NZ_Rugby";
  src: url("../fonts/NZRugbyChisel-Bold.woff2") format("woff2"),
    url("../fonts/NZRugbyChisel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  text-decoration: none;
  list-style: none;
}

header {
  font-family: Georgia;
}

body {
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  font-family: "Times New Roman", Times, serif;
}

a,
a:active {
  color: white;
}
