@font-face {
  font-family: "RugbyChisel";
  src: url("../fonts/NZRugbyChisel-Bold.eot") format("embedded-opentype"),
    url("../fonts/NZRugbyChisel-Bold.woff2") format("woff2"),
    url("../fonts/NZRugbyChisel-Bold.woff") format("woff"),
    url("../fonts/NZRugbyChisel-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  text-decoration: none;
  list-style: none;
  font-family: Georgia;
}

body {
  color: white;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
