/* Common Styles */
* {
  font-family: system-ui, sans-serif;
}

.single-page-header {
  background-color: #999;
  color: #fff;
  background-size: cover;
  padding-top: 70px;
  height: 175px;
}

.single-page-header .title {
  margin-bottom: 0;
  font-size: 28px;
}

.custom-select {
  float: right;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.select-container {
  float: right;
  overflow: hidden;
  width: calc(100% - 40px);
  color: white;
}

.NewsArticleListPage #YearSelector {
  width: 104px;
  height: 36px;
  margin-top: 30px;
}

select {
  height: 50px;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 5px;
  transition: border-color 200ms ease;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}

.news-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content {
  flex: 1;
}

.news-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.date {
  font-size: 15px;
  line-height: 30px;
  color: #999;
  text-transform: uppercase;
}

.news-item .summary {
  font-size: 18px;
  margin-right: 15%;
  margin-bottom: 5%;
}

.news-item .read-more {
  color: #069be7;
  text-decoration: underline;
  font-size: 18px;
}

.news-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container-mobile img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container-mobile {
  display: none;
  width: 40vw;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-right: 5px;
}

summary {
  padding-right: 20px;
  max-width: 540px;
}

.news-articles-list li {
  display: flex;
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid #4a4a4a;
  overflow: auto;
}

.news-articles-list:nth-child(1) {
  border-top: none;
}

.narrow {
  max-width: 1250px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.NewsArticleListPage .news-title {
  float: left;
  margin-top: 30px;
  line-height: 1;
  font-family: system-ui, sans-serif;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-item {
  margin: 0 5px;
}

.pagination-link {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 2px;
}

.pagination-link.current {
  background-color: #333;
}

.pagination-link:hover {
  background-color: #555;
}

.pagination-icon {
  margin-left: 5px;
}

.news-title {
  margin-top: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 200ms ease;
}

button:hover {
  background-color: #2980b9;
}

/* Differences in the Second Set */
.title-date {
  margin-bottom: 10px;
}

.title-date h2 {
  font-size: 24px;
}

.image-container-desktop {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.image-container-desktop .play-container .image-item {
  width: 310px;
  height: 170px;
  object-fit: cover;
  border-radius: 0.3rem;
  cursor: pointer;
}

.play-icon {
  background: transparent;
  color: black;
  padding: 15px;
}

.play-button {
  position: absolute;
  width: 70px;
  border-radius: 50%;
  top: 35%;
  right: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0.3rem solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-button:hover,
.play-container:hover .image-item + .video-link .play-button {
  background-color: #069be7;
  border-color: #069be7;
}
